/*@import url('letter-gothic-std');*/

@font-face {
    font-family: "letter-gothic-std";
    src: url("./letter-gothic-std/LetterGothicStd.otf");
}

.gradienteNaranja{
    background-image: linear-gradient(0deg, rgba(249, 179, 132, 1) 15%, rgba(249, 164, 107, 1) 30%, rgba(249, 149, 82, 1) 45%, rgba(249, 134, 57, 1) 55%, rgba(249, 119, 32, 1) 70%, rgba(249, 105, 8, 1) 85%, rgba(249, 100, 0, 1) 100%);
}

.gradienteCeleste{
    background-image: linear-gradient(270deg, rgba(132, 202, 249, 1) 15%, rgba(161, 230, 255, 1) 35%, rgba(190, 255, 255, 1) 50%, rgba(219, 255, 255, 1) 65%, rgba(249, 255, 255, 1) 85%, rgba(255, 255, 255, 1) 100%);
    
}



body {
    height: 100%;
	width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
}



.cabecera{
    font-family: letter-gothic-std, monospace;
    
    position: fixed;
    top: 0;
    width: 100%;
    
    display: table-cell;
    z-index: 99;
}

.cabecera_cont{
    padding: 50px 9%;
    transition: 0.5s;
}

#img_nido{
    background-image: url(nido.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(0.5);
    
    position: absolute;
    top: 30px;
    left: 30px;
    height: 120px;
    width: 150px;
    
    transition: 0.5s;
}

.titulo {
    letter-spacing: 2px;
    font-size: 4vw;
    margin-left: 90px;
    transition: 0.8s;
    display: inline;
}

.titulo a{
    text-decoration: none;
    color: #333;
    margin: 0px;
}

.frase{
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.9s;
    height: 50px;
    margin: 0px;
    /*text-align: center;*/
}


.topbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 280px;
    /*right: 0;
     width: 300px;
     height: 100%;*/
    background-color: #d7eac9;
    background-blend-mode: multiply;
    opacity: 0.4;
}



/* Nav */

.nav{
    background-color: #84CAF9;
    border-bottom: 2px solid rgba(0,0,0,.15);
    display: block;
    height: 40px;
    transition: 0.8s;
    /*display: grid;
     grid-template-columns: repeat(7,1fr);*/
    display: flex;
    padding: 0 200px;
    align-items: center;
}

.nav_btn {
    /*height: 100%;*/
    /*display: inline-block;*/
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    transition: 1s;
    display: table-cell;
}

.nav_btn :hover {
    font-weight: 1000;
}

.nav_link{
    text-decoration: none;
    color: #333;
    transition: 0.7s;
    margin-top: auto;
    margin-bottom: auto;
    /*display: table-cell;
     vertical-align: middle;*/
}





#proximamente {
	/*font-family: 'Ubuntu Mono', monospace;*/
	/*font-family: letter-gothic-std, monospace;
	font-style: normal;
	font-weight: 400;*/
	font-family: 'Cinzel Decorative', cursive;

	display: table-cell;
	vertical-align: middle;
    
    position: absolute;
    top: 200px;

	height: 100%;
	width: 100%;
}

#img_anido{
	background-image: url(anido.png);
	background-size: contain;
	background-repeat: no-repeat;

	height: 600px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%
}




/* Texto */

.texto_box{
    position: absolute;
    top: 180px;
    /*padding: 0 5% 0 5%;*/
    margin: 0 10% 0 10%;
    background-color: #fff8f1ad;
}

.texto{
    padding: 0 10% 0 10%;
}

.texto-1{
    padding: 0 10% 0 10%;
}

.texto-2{
    padding: 0 10% 0 10%;
}

#titulo_cont{
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    
    background-image: url(nido.png);
    background-blend-mode: color-dodge;
    background-color: #fff8f1aa;
    padding: 50px;
    background-size: 200%;
    background-position: center;
}


.subtitulo_cont{
    font-size: 22px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 80px;
    padding: 0 10% 0 10%;
}


h3{
    /*font-family: letter-gothic-std, monospace;*/
    font-family: 'DM Mono';
    letter-spacing: 0.5vw;
}


.subtitulo{
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding: 6vw;
    font-size: 1.6em;
}


.img_filtro{
    padding: 5px 10%;
    margin: 50px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    
    background-color: #f7d9b2;
    filter: blur(1px) brightness(2);
    background-blend-mode: luminosity;
    
}

.sizer{
    visibility: hidden;
    width: 100%;
}

#img_1{
    background-image: url(fotos/cam_3.jpg);
    margin: 0px
}


#img_2{
    background-image: url(fotos/cam_2.jpg);
}


#img_3{
    background-image: url(fotos/cam_4.jpg);
}


#img_4{
    background-image: url(fotos/cam_6.jpg);
}


#img_5{
    background-image: url(fotos/cam_1.jpg);
}

#creditos{
    position: relative;
    font-family: letter-gothic-std, monospace;
}

#equipo{
    position: absolute;
    top: 10px;
    left: 10px;
    
    width: 60vw;
    background-color: #fff8f1ad;
    padding: 10px;
}

#equipo > p {
    margin: 1px;
    
}

.nombre{
    font-style: italic;
    font-weight: bold;
    /*font-family: letter-gothic-std, monospace;*/
}


#agradecimientos {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
    width: 30vw;
    padding: 10%;
    background-color: #fffaf5e0;
    padding: 10px;
    text-align: right;
    /*font-family: letter-gothic-std, monospace;*/
}

#agradecimientos > .nombre > p {
    margin: 1px;
    /*font-family: letter-gothic-std, monospace;*/
}

.texto-1{
    font-family: 'Jost', sans-serif;
}

.texto-2{
    font-family: 'Jost', sans-serif;
}

.cita{
    font-family: letter-gothic-std, monospace;
    padding: 7%;
    background-color: #4b683b17;
}

.enfasis{
    font-style: italic;
}

.firma{
    font-family: letter-gothic-std, monospace;
    text-align: right;
    padding-right: 5%;
    padding-bottom: 1%;
}

.firma-final{
    font-family: letter-gothic-std, monospace;
    text-align: right;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}


#despedida{
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 1.2em;
}


#gracias{
    font-size: 1.8em;
    font-weight: bold;
}



/* Bibliografia */

.biblio-notas{
    text-align: right;
    font-family: 'Jost';
    font-size: 0.85em;
    padding-left: 40%;
    padding-right: 2%;
    margin-bottom: 100px;
}



.biblio-lista{
    font-family: 'DM Mono', monospace;
    margin: 0 20%;
    font-size: 12px;
    display:flex;
    flex-flow:column nowrap;
}


.biblio-item {
    display:flex;
    justify-content:flex-start;
    padding:0.3rem 0;
    order:0;
}

.biblio-item::before {  /* puntitos */
    content:"";
    display:block;
    border-bottom:1px dotted black;
    position:relative; top:-3px;
    flex:1 1 auto;
    margin:0 1rem;
    order:1;
}

.biblio-item::after { /* autores */
    content: attr(autor);
    flex:0 0 auto;
    order:2;
    /*transform: scale(1.2);*/
    text-decoration:underline;
}

.biblio-descrip{
    padding: 20px;
}

/* Efectos de la bibliografía... solo si hay :hover en el dispositivo */

@media (any-hover: hover) {
    .biblio-descrip{
        max-height:1ch;
        transform:scaleY(0.1);
        transform-origin:center top;
        transition:transform 0.2s, max-height 0.5s;
    }
    
    .biblio-elem:hover .biblio-descrip {
        max-height:20em;
        transform:scaleY(1);
    }
    
    .biblio-lista:hover > ul > .biblio-elem { opacity:0.3; }
    
    
    .biblio-elem:hover {
        transition:background-color 0.3s;
        /*background:rgba(255,255,100,0.15);*/
        background: #d7eac940;
        opacity:1 !important;
    }

}


/* Medidas de pantalla de celular */

@media (width < 1000px) {
    nav_btn { font-size: 2em; }
    texto-box { margin: 0; }
    body { background-color: antiquewhite; }
}




.negrita{
    font-weight: bold;
}
