
@font-face {
    font-family: "letter-gothic-std";
    src: url("./letter-gothic-std/LetterGothicStd.otf");
}



#proyecto{
    position: relative;
    top: 130px;
    margin: 0 10% 0 10%;
    background-color: #fff8f1ad;
    font-size: 1rem;
}


#itinerante_titulo{
    font-family: 'DM Mono';
    letter-spacing: 0.5vw;
    
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    padding: 10vw;
    padding-top: 8vw;
    
    background-image: url(fotos/clase.jpg);
    background-blend-mode: color-dodge;
    background-color: #fff8f1aa;
    background-size: cover;
    background-position: left center;
}

#equipo {
    font-family: letter-gothic-std, monospace;
    text-align: right;
    
    padding: 5%;
    background-color: #fffaf5e0;
    
}

.subtitulo{
    font-family: 'DM Mono';
    font-size: 1em;
    letter-spacing: 0.5vw;
    
    padding: 50px;
    padding-right: 200px;
    
    background-image: url(fotos/clase.jpg);
    background-blend-mode: color-dodge;
    background-color: #ffffffe0;
    background-size: 200%;
    background-position: top center;
    border-top: 5px black;
}



.texto_box {
    font-family: 'Jost', sans-serif;
    text-align: justify;
    padding: 5% 15% 5% 15%;
}

.texto {
    
}

.cita {
    font-family: 'Jost', sans-serif;
    background-color: #4b683b17;
    font-size: 0.9em;
    padding: 5%;
}

.firma{
    font-family: letter-gothic-std, monospace;
    text-align: right;
    padding-right: 5%;
    padding-bottom: 1%;
    font-size: 0.9em;
}

.firma-final{
    font-family: letter-gothic-std, monospace;
    text-align: right;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.tippy-box[data-theme~='azure'] {
    background-color: #f0fffffb;
    font-size: 0.8rem;
    font-family: 'Jost', sans-serif;
    color: black;
    border: solid 3px #BDDDF2;
    padding: 4%;
}
.tippy-box[data-theme~='azure'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #BDDDF2;
}
.tippy-box[data-theme~='azure'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #BDDDF2;
}

@media only screen
and (max-device-width: 800px){
    .nav_btn { font-size: 1.5rem; }
    #proyecto  { margin: 0; }
    :root { font-size: 10px; }
    .ref { color: blue; text-decoration: underline; }
    .tippy-box[data-theme~='azure'] { font-size: 1.5rem }
}

